<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobilesip.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CFF2924AE2474EB1E05773A0E18CA098DE1E9653</string>
				<key>dateExpires</key>
				<string>9/4/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TLQ5U9PHH2.org.reactjs.native.example.mobilesip</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>TLQ5U9PHH2</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>TLQ5U9PHH2.org.reactjs.native.example.mobilesip</string>
				</array>
			</dict>
			<key>name</key>
			<string>mobilesip.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>10f0f8c1-4f35-4b48-89a2-f773d892aa39</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TLQ5U9PHH2</string>
				<key>name</key>
				<string>Polimport Comercio e Importacao LTDA</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
